31218_정윤호_0314_7

2. 1년마다 키가 10cm씩 자라는 농구선수가 있다.<br>

.2017 - 175.5cm<br>
.2018 - 185.5cm<br>
.2019 - 195.5cm<br>
.2020 - 205.5cm<br>

년도별 농구선수의 키를 출력해보자

In [2]:
year = 2017
height = 175.5
print(year, '년-', height,'cm')

year = year +1
height = height + 10
print(year, '년-', height,'cm')

year = year +1
height = height + 10
print(year, '년-', height,'cm')

year = year +1
height = height + 10
print(year, '년-', height,'cm')

2017 년- 175.5 cm
2018 년- 185.5 cm
2019 년- 195.5 cm
2020 년- 205.5 cm

In [3]:
year = 2017
height = 175.5
print(year, '년-', height,'cm')

year += 1
height += 10
print(year, '년-', height,'cm')

year +=1
height += 10
print(year, '년-', height,'cm')

year += 1
height += 10
print(year, '년-', height,'cm')

2017 년- 175.5 cm
2018 년- 185.5 cm
2019 년- 195.5 cm
2020 년- 205.5 cm

> 동일한 변수를 증가/감소시킬 때

```
# a에 3을 더하시오
a = a+3
```

```
#간략하게 표현
a+ = 3

# 2. 데이터타입type()

>정수 int

>실수 float

>문자 str

In [4]:
apple = 1200
banana = 800
price = apple*3 + banana*2
vip_price = price * 0.8
a = '과일'

In [5]:
type(apple)

int

In [6]:
type(banana)

int

In [7]:
type(price)

int

In [8]:
type(vip_price)

float

In [9]:
type(a)

str

# 3. 데이터타입 변경하기
변경하려는 데이터 타입으로 감싸주기

> 정수로 변경하기
<br/> int(변수)

>실수로 변경하기
<br/> float(변수)

> 문자로 변경하기
<br/> str(변수)

In [14]:
# 정수를 실수로 변경
print(apple)
apple = float(apple)
print(apple)

1200
1200.0

In [15]:
# 정수를 실수로 변경
print(apple)
apple = int(apple)
print(apple)

1200.0
1200

4.원의 둘레, 넓이, 구의 겉넓이, 구하기

In [20]:
r = int(input('반지름은 ? '))
p = 3.141592

#원의 둘레
c_len =2*p*r

#원의 넓이
c_area = p*r**2

#구의 겉넓이
s_area = 4*p*r**2

#구의 부피 
s_volume = 4/3*p*r**3

print('원의 둘레는', c_len)
print('원의 넓이는' , c_area)
print('구의 겉넓이는', s_area)
print('구의 부피는 ',s_volume)

반지름은 ? 15
원의 둘레는 94.24776
원의 넓이는 706.8582
구의 겉넓이는 2827.4328
구의 부피는  14137.163999999999